<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.applicaster.plugin.xray">

    <application>
        <activity
            android:name="com.applicaster.plugin.xray.ui.LogActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>
</manifest>