<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.applicaster.plugin.xray">

    <application>
        <activity
            android:name="com.applicaster.plugin.xray.ui.LogActivity"
            android:label="Setup"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/scheme_url_prefix" android:host="xray" />
            </intent-filter>
        </activity>
    </application>
</manifest>